.Bigbutton{
    height: 800px;
    width: 300px;
    color: black;
    display: block;
    font-size: 100px;

}

.TheDiv{
    display: block;
    text-align: center;
    margin-left: 850px;
    margin-right: 50%;
    margin-top: 350px;
}